// Override this file to add your own SCSS styling.


@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1500px;
  }
}


.navbar {
  //background: #11539e;
}
#navbar-main .main-menu-item ul li .nav-link{
  //color: #fff;
}
#navbar-main .main-menu-item ul li .nav-link:before {
  content: "|";
  padding-right: 1rem;
}
#navbar-main .main-menu-item ul   {
  li.nav-item:first-child {
    .nav-link:before  {
      display: none;
    }
  }
}

.home-section:first-of-type {
  padding-top: 1px;
}

.site-header-container {
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.67) !important;
  background-position: 50% 50%;
  background-size: cover;
}
.site-header-container {
  .scrim  {
    padding: 9em 1em !important;

    .site-header {
      text-align: center;
    }
    .title {
      font-size: 3rem;
      color: #fff;
    }
  }

}





.achievements-page {
  .table-data {
    margin: 5rem 0;
    table {
      border-collapse: collapse;
      th, td {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
      }
    }
  }
}


@media (max-width: 478px) {
  .navbar-brand {
    margin: 0 auto;
  }
}
